<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Declare banking apps for Android 11+ package visibility -->
    <queries>
        <!-- Deep link schemes -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="ing-homebank" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="bnpparibasfortis" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="kbc-mobile" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="belfius" />
        </intent>
        <!-- Package names for launch fallback -->
        <package android:name="com.ing.banking" />
        <package android:name="com.bnpparibasfortis.easybanking" />
        <package android:name="com.kbc.mobilebanking" />
        <package android:name="be.belfius.directmobile" />
        <package android:name="com.keytrade.mobile" />
    </queries>

    <application
        android:name=".PayUnpaidsApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PayUnpaids">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PayUnpaids">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
